# Default Marble maps
earth/bluemarble
earth/citylights
earth/clouds
earth/hillshading
earth/openstreetmap
earth/plain
earth/precip-dec
earth/precip-july
earth/schagen1689
earth/srtm
earth/srtm2
earth/temp-dec
earth/temp-july
moon/clementine

# Tiles
earth/*/1
earth/*/2
earth/*/3
earth/*/4
earth/*/5
earth/*/6
earth/*/7
earth/*/8
earth/*/9
earth/*/10
earth/*/11
earth/*/12
earth/*/13
earth/*/14
earth/*/15
earth/*/16
earth/*/17
earth/*/18
earth/*/19
moon/*/1
moon/*/2
moon/*/3
moon/*/4
moon/*/5
moon/*/6
moon/*/7
moon/*/8
moon/*/9
moon/*/10
moon/*/11
moon/*/12
moon/*/13
moon/*/14
moon/*/15
moon/*/16
moon/*/17
moon/*/18
moon/*/19
moon/*/20
